{{! app/templates/layouts/application.mustache }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{asset.style.application_css}}
    {{asset.js.application_js}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      
      {{yield}}
    
    </div>
  </body>
</html>