{{! app/templates/layouts/application.mustache }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - slideshows made simple</title>
    {{asset.style.application_css}}
    {{asset.js.application_js}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body data-spy="scroll" data-target=".navbar">
		<!-- Modals *********************** -->

		<!-- ****************************** -->
		
      {{notice_message}}
      {{alert_message}}

      {{yield}}
    

  </body>
</html>