{{>/shared/navbar_fixed_top_home}}		


  <section id="sign_in">
    <div class="container">
    
    <div class="row">
      <div class="span12" style="text-align: center;">

        <div>  
          <h1 class="sign_in">Slideshows made Simple!</h1>
          <h2 class="lead">Build your own individual Slideshow and Share it with your Friends</h2>
        </div>

        <div class="sign_in" style="text-align: center;">
          {{login}}
        </div>

      </div>
    </div>
    
  </div>
  </section>

  <hr class="soften">

  <section id="about">

    <div class="container">
    
      <div class="row">
        <div class="span12" style="text-align: center;">
    
          <p class="lead">SlideCloud. What i am and what i do......</p>
    
        </div>
      </div>
    
  </div>
  </section>

  <hr class="soften">
  
  <section id="slideshows_home">
    <div class="container">
   
      <div class="row">
        <div class="span12" style="text-align: center;">
          {{#slideshows}}
            {{>/shared/slideshow}}
          {{/slideshows}}
        </div>
      </div>
      
      <hr class="soften">
      
      <div class="thumbnails">
        <div class="alert alert-info"><strong>Heads up</strong> and clap your hands for our amzing fading Effects!</div>
         
         
        <div class="span12">
          <div id="sample_slideshow_crossfade" style="width: 550px; height: 460px;">
            <!-- In this div is the first amazing slidehsow mock! Yeah -->
          </div>
          <p class="lead">Amazing crossfading effect</p>  
        </div>
        
        <div class="span12" style="width: 550px; height: 460px;">
          <div id="sample_slideshow_slideAndCross" style="width: 550px; height: 460px;">
            <!-- In this div is the second amazing slidehsow mock! Yeah -->
          </div>
          <p class="lead">Stunning cross & Slide effect</p>  
        </div>
                      
        <div class="span12">
          <div id="sample_slideshow_kenBurns" style="width: 550px; height: 460px;">
            <!-- In this div is the third amazing slidehsow mock! Yeah -->
          </div>
          <p class="lead">Insanely Ken Burns effect</p> 
        </div> 
            
        <div class="span12">
          <div id="sample_slideshow_kenBurnsVariant" style="width: 550px; height: 460px;">
            <!-- In this div is the fourth amazing slidehsow mock! Yeah -->
          </div>
          <p class="lead">Another incredible Ken Burns effect</p> 
        </div>
    </div>
      
      
      
      
    
    </div>
  </section>

  <hr class="soften">
  
  <section id="team">
    <div class="container">
    
      <div class="row">
        <div class="span12" style="text-align: center;">
    
          <p class="lead">Who build me?!? </p>
    
        </div>
      </div>
    
    </div>
  </section>

  <hr class="soften">
  

  <section class="footer" id="progress">
    <div class="container">
    
      <div class="row">
        <div class="span12">
    
    
            <p class="lead">5% of work is done, more or less. Less...</p>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 5%;"></div>
            </div>
    
        </div>
      </div>
      
    </div>    	
  </section>
