{{>/shared/navbar_fixed_top_home}}
<div class="container">
  
  <section style="padding-top: 80px;">
    <div class="hero-unit">
      <h1>{{title}}</h1>
      <p class="lead">3% of work is done, more or less. Less...</p>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 3%;"></div>
      </div>
    </div>
  </section>
  
</div>