{{>/shared/navbar_fixed_top_home}}		

<div class="container">
  
  <section id="sign_in" style="padding-top: 100px;">
    <div class="row">
      <div class="span12" style="text-align: center;">
        
        <div>  
          <h1 class="sign_in">Slideshows made Simple!</h1>
          <h2>Build your own individual Slideshow and Share it with your Friends</h2>
        </div>
      
        <div class="sign_in" style="text-align: center;">
            {{login}}
        </div>
          
      </div>
    </div>
  </section>

  <hr class="soften">

  <section id="slideshows_home">
    <div class="row">
      <div class="span12">
        
        <p> Here's the place for all public Slideshows! </p>

      </div>
    </div>
  </section>

  <hr class="soften">

  <section id="about">
    <div class="row">
      <div class="span12">
    
        <p>SlideCloud. What i am and what i do......</p>
    
      </div>
    </div>
  </section>

  <hr class="soften">
  
  <section id="team">
    <div class="row">
      <div class="span12">
    
        <p>Who build me?!? </p>
    
      </div>
    </div>
  </section>

  <hr class="soften">
  
  <footer id="progress">
    <div class="row">
      <div class="span12">
    
    
          <p class="lead">3% of work is done, more or less. Less...</p>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 3%;"></div>
          </div>
    
      </div>
    </div>	
  </footer>
</div>
