

<% if devise_mapping.omniauthable? %>

  <div class="omniauthable">
    <h4>for the full power of SlideCloud</h4> 
    <h1>we recommend to...</h1>
  </div>

  <div class="omniauthable_facebook" >
    <% resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => "btn btn-large btn-block btn-primary"  %><br />
    <% end %>
  </div>
  
<% end %>