<% if devise_mapping.omniauthable? %>

  <div class="span2 omniauthable">
    <h1>OR</h1>
  </div>

  <div class="span2 omniauthable_facebook" >
    <% resource_class.omniauth_providers.each do |provider| %>
    <h1><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></h1><br />
    <% end %>
  </div>
  
<% end %>