<div class="carousel-caption textEdit hide">
  <a href="javascript:getText()" class="btn btn-success pull-right">add to slide</a>
 
  <textarea id="slideHeadline" rows="1" cols="61" maxlength="60" placeholder="Headline"></textarea>
  <br>
  <textarea id="slideLead" rows="1" cols="150" maxlength="149" placeholder="Leading text"></textarea>
  
</div>

<script>
var getText = function() {
  $('.carousel-caption').addClass('hide')
};
</script>