<footer class="footer yellowBackground" id="progress" >
  <div class="container">
      <div class="span12" style="text-align:right;">
        <p class="lead">Build by Martin Fleischer & Johannes Dirr</p>
        <p>Multimedia Engineering II # WS 2012/2013</p>
        <p>Beuth Hochschule für Technik Berlin</p>
      </div>
    </div>    
  </div>
</footer>