<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand pull-right" href="{{root_path}}">{{title}}</a>
      <ul class="nav pull-right">
        <li>{{sign_in}}</li>
      </ul>

        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right">
          <li>{{link_to_assetmanager}}</li>
        </ul>
     
    </div>
  </div>
</div>
