<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    
    <a class="brand" href="#" text-align="center">{{title}}</a>
    

      <!-- .nav, .navbar-search, .navbar-form, etc -->
      <ul class="nav pull-right">
        <li>{{sign_up}}</li>
      </ul>
    
  </div>
</div>