<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    
    <a class="brand" href="{{root_path}}" text-align="center">{{title}}</a>
    

      <!-- .nav, .navbar-search, .navbar-form, etc -->
      <ul class="nav pull-right">
        <li></li>
      </ul>
      <li class="nav pull-right">{{sign_in}}</li>
    </div>
  </div>
</div>