<div id="toolbar" class="navbar afix" style="margin-top: -32px;">
  <div class="navbar-inner" style="height:50px; background: #F5F5F5; border: none;">
    <div class="container">      
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          
          <form class="navbar-form pull-left">
      			{{create_slide_btn}}
            <a data-toggle="modal" data-target="#add_pics_modal" href="#add_pics_modal" class="btn btn-small">Add Pics</a>
            <a href="javascript:saveStageToSlide()" class="btn btn-small">Save</a>
          </form>
          
        </ul>
      </div>
    
    </div>
  </div>
</div>