<div id="toolbar" class="navbar afix">
  <div class="navbar-inner blueBackground">
    <div class="container">      
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    
      <!-- Everything you want hidden at 940px or less, place within here -->
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <form class="navbar-form">
      			<a href="javascript:editor.createNewSlide()" class="btn btn-small">new slide</a>
          </form>
        </ul>
        <ul class="nav">
          <li class="divider-vertical" style="border:none;"></li>
        </ul>
        <ul class="nav">
          <form class="navbar-form">
            <a data-toggle="modal" data-target="#add_pics_modal" href="#add_pics_modal" class="btn btn-small">add pics to slide</a>
            <a href="javascript:showTextEdit()" class="btn btn-small">add text to slide</a>          
          </form>
        </ul>
        <ul class="pull-right">
          <form class="navbar-form">
            <a href="javascript:editor.saveStageToSlide()" class="btn btn-success">save</a>         
          </form>
        </ul>
    </div>
  </div>
</div>