{{>/shared/navbar_fixed_top_home}}		
  
<section id="slideshows_home">
  
<div class="container">   
  <div class="row">
    <div class="span12" style="text-align: center;">
      {{#slideshows}}
        {{>/shared/slideshow}}
      {{/slideshows}}
    </div>
  </div>
</div>
      
<hr class="soften">
</section>