{{>/shared/navbar_fixed_top_logged_in.mustache}}

<section>
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- Sidebar content *************************************** -->
      <div class="span2">
      
        <ul class="nav nav-pills nav-stacked">
          <li>
            <h2>my...</h2>
            <h4><a href="#" >... Slideshows!</a></h4>
          </li>
          <li>
            <h2>create...</h2>
            <h4><a href="#" class="breadcrump">... a new one!</a></h4> </br> 
          </li>
        </ul>
      
      </div>
      <!-- ******************************************************* -->
    
    
      <!-- Main content ****************************************** -->
      <div class="span9">
        <p class="lead">...here!</p>
    
        <!-- JUST FOR TESTING -->
        <!-- <img src="{{fb_profile_picture}}">
               
               {{fb_user_name}} -->
        <!-- **************** -->
    
    
      </div>
      <!-- ******************************************************* -->
    

    </div>
  </div>
</section>