<li class="span4 slideshow_thumb">
	
	<div class="thumbnail">
		<a href={{edit_path}}>
			<img src={{thumbnail}} alt="">
		</a>
		<h3>{{title}}</h3>
		<p>{{desc}}</p>
		{{show_btn}}
		{{destroy_btn}}
	</div>

</li>