<li class="span4 slideshow_thumb">
	<div class="thumbnail">
		<img src={{url}} alt="">
		<h3>{{title}}</h3>
		<p>Thumbnail caption...</p>
	</div>
</li>
<!-- <td>{{link_show}}</td>
<td>{{link_edit}}</td>
<td>{{link_destroy}}</td> -->