{{>/shared/navbar_fixed_top_logged_in}}

<div class="container">

	<div id="editor_container">
		{{>/shared/toolbar}}
		<ul id="slidesbar" class="thumbnails">
			<li>
				<a href="#" class="thumbnail"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/White_and_yellow_flower.JPG/250px-White_and_yellow_flower.JPG" alt=""></a>
			</li>
		</ul>
		<div class="">
			<canvas id="editor_canvas" style="background-color:#FFFFFF important;">
			</canvas>
		</div>
	</div>

</div>