{{>/shared/navbar_fixed_top_logged_in}}
{{>/shared/modal/add_pics_to_slide/add_pics}}

<section class="browserHeight" style="margin-top: -120px !important; min-width: 1200px;">
  <div id="editor_container">
  	{{>/shared/toolbar}}
  	<ul id="slidesbar" class="thumbnails">
  		{{#slides}}
  			{{>shared/slide}}
  		{{/slides}}
  	</ul>
  	<div id="editor_canvas_container" data-slideshow="{{self.id}}"> 
      {{>/shared/add_text_to_slide}}
    </div>
  </div>
</section>


{{>/shared/footer}}
<script>
  var showTextEdit = function() {
    $('.textEdit').toggleClass('hide');
  };
</script>
