{{>/shared/navbar_fixed_top_logged_in}}

<div class="container">

	<div id="editor_container">
		{{>/shared/toolbar}}
		<ul id="slidesbar" class="thumbnails">
			<li>{{create_slide_btn}}</li>
			{{#slides}}
				{{>shared/slide}}
			{{/slides}}
		</ul>
		<div id="editor_canvas_container"> </div>
	</div>

</div>