{{>shared/navbar_fixed_top_logged_in}}
{{>shared/modal/new_slideshow}}

<section class="blueBackground slideshowOverviewHeader">
  <div class="container">
    <h1 class="lead" style="color: white;">{{headline}}</h1>
  </div>
</section>
<div class="container-fluid browserHeight">
  <div class="row-fluid">
    <!-- Sidebar content *************************************** -->
    <div class="span2">
      <br>
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <p>
            create...<br>
            {{link_new}}
          </p> 
        </li>
        <li>
          <p>
            upload... <br>
            <a href="assetmanager/index">...pictures</a>
          </p>
        </li>
      </ul>
    </div>
    <!-- ******************************************************* -->
    
    <!-- Main content ****************************************** -->
    <div class="span10">	
    	<br />
    	<br />
    	<ul class="thumbnails span7 slideshowOverview">
    		{{#slideshows}}
    		  {{>/slideshows/slideshow}}
    		{{/slideshows}}
    	</ul>
    	<br />
      <!-- JUST FOR TESTING -->
      <!-- <img src="{{fb_profile_picture}}">
           {{fb_user_name}} -->
      <!-- **************** -->
    </div>
    <!-- ******************************************************* -->
  </div>
</div>

{{>/shared/footer}}

<script>
  var connection = new ConnectionManager('http://localhost:3000/');

  var showModal = function() {
    $('#new_slideshow_modal').modal('show')
  };

  var createFirstSlide = function() {
    var json = '{"stage":{"attrs":{"width":960,"height":540,"visible":true,"listening":true,"opacity":1,"x":0,"y":0,"scale":{"x":1,"y":1},"rotation":0,"offset":{"x":0,"y":0},"draggable":false},"nodeType":"Stage","children":[{"attrs":{"clearBeforeDraw":true,"visible":true,"listening":true,"opacity":1,"x":0,"y":0,"scale":{"x":1,"y":1},"rotation":0,"offset":{"x":0,"y":0},"draggable":false},"nodeType":"Layer","children":[]}]}}';
    
    var url = "/slideshows/" + $("li.slideshow_thumb:last-child").attr('id') + "/slides";
    
    connection.httpPostRequest(url, json, function(){}); 
  };

  var createSlideshow = function() {
    var slideshowTitle = $('#slideshow_title').val();
    var slideshowDesc = $('#slideshow_desc').val();
    var data = JSON.stringify({ "title": slideshowTitle, "desc": slideshowDesc});
   
  var callback = function(data) {
    $.ajax({
  		url: connection.appURL + "slideshows",
  		type: "GET",
  		contentType: 'application/json; charset=utf-8',
  		dataType: "html",
  		data: data,
  		success: function(data){
    		var c = $("li.slideshow_thumb:last-child", data);
        $('#new_slideshow_modal').modal('hide')
        $('.thumbnails').append(c);   
        if ($('h1').html() == 'Create a new Slideshow!')
          $('h1').html('Your Slideshows');
        createFirstSlide();
      }
  	});
  };
  connection.httpPostRequest('slideshows', data, callback);
  };
</script>