<div id="editor_container">
	
	<div class="row span12">
		<div id="toolbar_container">
			{{>/shared/toolbar}}
		</div>
		<ul id="slidesbar" class="thumbnails">
			<li>
				<a href="#" class="thumbnail"><img src="http://www.kindercampus.de/uploads/tx_srfeuserregister/xxzimtstern_blume_ohmydollz_00b85a2bec.jpg" alt=""></a>
			</li>
			<li>
				<a href="#" class="thumbnail"><img src="http://www.kindercampus.de/uploads/tx_srfeuserregister/xxzimtstern_blume_ohmydollz_00b85a2bec.jpg" alt=""></a>
			</li>
			<li>
				<a href="#" class="thumbnail"><img src="http://www.kindercampus.de/uploads/tx_srfeuserregister/xxzimtstern_blume_ohmydollz_00b85a2bec.jpg" alt=""></a>
			</li>
			<li>
				<a href="#" class="thumbnail"><img src="http://www.kindercampus.de/uploads/tx_srfeuserregister/xxzimtstern_blume_ohmydollz_00b85a2bec.jpg" alt=""></a>
			</li>
			<li>
				<a href="#" class="thumbnail"><img src="http://www.kindercampus.de/uploads/tx_srfeuserregister/xxzimtstern_blume_ohmydollz_00b85a2bec.jpg" alt=""></a>
			</li>
		</ul>
		<div class="">
				<canvas id="editor_canvas">
				</canvas>
		</div>
	</div>
</div>