{{>/shared/navbar_fixed_top_home}}		

<section id="sign_in" class="blueBackground" style="padding-bottom: 60px;">
  <div class="container">
    <div class="row">
      <div class="span12" style="text-align: center;">

        <div>  
          <h1 class="sign_in" style="color: white;">Slideshows made Simple!</h1>
          <h2 class="lead" style="color: white;">Build your own individual Slideshow and Share it with your Friends</h2>
        </div>

        <div class="sign_in" style="text-align: center;">
          {{login}}
        </div>

      </div>
    </div>
  </div>
</section>


<section id="about">

  <div class="container">
    
    <div class="row">
      <div class="span12" >
    
        <p class="lead" style="text-align: center;">SlideCloud. What i am and what i do......</p>
        
        <!-- RUBY ************************ -->
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object span2" data-src="holder.js/64x64" src="/assets/about/ruby.png">
          </a>
          <div class="media-body span8">
            <h4 class="media-heading">Ruby</h4>
            <p>hier steht text über ruby</p>
          </div>
        </div>
        
        <div class="span12 clearfix">
           <hr class="soften">
        </div>
       
        <!-- RAILS ************************ -->
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object span2" data-src="holder.js/64x64" src="/assets/about/rails.png">
          </a>
          <div class="media-body span8">
            <h4 class="media-heading">Rails</h4>
            <p>hier steht text über rails</p>
          </div>
        </div>
    
      </div>
    </div>
    
  </div>
</section>

{{>/shared/footer}}