{{>/shared/navbar_fixed_top_logged_in}}

<div class="container">

	<h1>Upload your pics</h1>

	<div id="images" class="span12">
		<ul>
			{{#images_list}}
	      {{>/shared/image}}
	   	{{/images_list}}
	  </ul>
  </div>

    <div class="span12">
		{{form}}
	</div>

	{{back_link}}

</div>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
  		{%=o.name%}
  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>