// Place all the styles related to the Editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor_container {
	margin:80px auto;
}

#editor_canvas_container {
	margin-left:24px;
	width:960px;
	height:540px;
	background-color:#FFFFFF !important;
	border: 1px solid #000;
	float:left;
}

#slidesbar {
	width:150px;
	overflow-y:scroll;
	height:540px;
	background-color:#FCF8E3;
	margin:0px;
	float:left;
}

#slidesbar li {
	float:none;
	margin:0px;
	padding:10px;
	cursor:pointer;
}

#toolbar {
  margin-top: -32px;
}

#toolbar .navbar{
	height:36px;
	margin-bottom:10px;
}

#toolbar .navbar-inner {
  height:50px; 
  background: #F5F5F5; 
  border:none; 
}

.selected {
	border: 3px solid #777;
	background-color: #777;
}

.ui-selected {
	border: 3px solid #777;
	background-color: #777;
}

.carousel-caption textarea {
  width: auto;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  resize: none;
  
}
.textEdit {
  position: relative;
  top:432px;
}